[Unit]
Description=Didactic Adventure

[Service]
Type=simple
User={{ user }}
WorkingDirectory={{ work_dir }}
Environment="PORT={{ port }}"
Environment="TELEGRAM_TOKEN={{ telegram_token }}"
Environment="WEBHOOK_URL={{ webhook_url }}"
Environment="SLACK_TOKEN={{ slack_token }}"
ExecStart=/bin/java -jar {{ project_name }}.jar
Restart=on-abort

[Install]
WantedBy=multi-user.target
